body {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* Css reset */
ol, ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

select, input {
  border: unset;
  appearance: none;
  -moz-appearance:none;
}

h1, h2, h3, h4, h5, h6, ol, ul {
  margin: 0;
}